node_modules/

# macOS
.DS_Store
Thumbs.db

# Build / cache
/.cache
/build
/app/build
/public/build/
/public/_dev
/app/public/build
dist/

# Database
/prisma/dev.sqlite
/prisma/dev.sqlite-journal
database.sqlite

# Env files
.env
.env.*

# Lock files
yarn.lock
pnpm-lock.yaml

# Shopify
.shopify/*
.shopify.lock

# React Router
.react-router/

# Logs
*.log

# IDE
.idea/